.main-header {
    background-color: var(--primary2-base);
    border-radius: 100px;
    font-size: 20px;
    margin-bottom: 10px;
    grid-column: 1 / -1;
    grid-row: 1;
    grid-template-columns: 200px 1fr;
    align-items: center;
    
}

.main-header .btn{
    font-size:1em;
    justify-items: center;
}

.main-header .btn:hover {
    color: var(--primary3-base);
}

.logo {
    font-size: 3em;
    justify-self: center;
}