
.main-meme-content{
    display: none;
    background-color: var(--primary2-base--1);
}

.canvas-container{
    display: flex;
}

.main-meme-content .btn{
    border-radius: 5;
    background-color: var(--primary2-base-2) ;
    border: 1px solid var(--primary2-base--1);
    padding: 5px;
}

.main-meme-content .btn:hover{
    background-color: var(--primary3-base) ;

}

.editor-container{
    display: flex;
    flex-flow: column;
    padding: 50px;
    gap: 10px;
    flex-wrap: wrap;
}

.font-Alignment, .font-family{
    cursor: pointer;
}

