* {
    box-sizing: border-box;
}

html {
    font-family: serif;
    color: var(--primary-base);  
}

body {
    margin: 0;
    background-color: var(--primary-base);
}


a {
    color: var(--primary-base);
    text-decoration: none;
}

img {
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.btn {
    border-radius: 25px;
    background-color: var(--primary2-base);
    border: none;
    cursor: pointer;
}

input{
    cursor: pointer;
}