.main-layuot {
    padding: 50px;
    display: grid;
    grid-template-columns: minmax(500px 1fr)  minmax(500px 1fr);
    /* grid-template-columns: 50%  50%; */
    grid-template-rows:100px 500px;
    justify-content: center;
    margin-top: 20px;
}

