.main-layout {
    padding: 50px;
    justify-content: center;
    
}

.main-layout-meme{
    display: grid;
    grid-template-columns: minmax(50% 1fr) minmax(50% 1fr);
    grid-template-rows: 100px 500px;
}

.the-main-container{
    height: 100%vh;
}